
.card{
    box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px , rgba(0,0,0,0.08) 0px 0px 0px 1px
}

img{
    width: 100%;
}

.card-content{
    padding: 1rem 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.card-heading{
    margin-bottom: 2rem;
}

.super-hit{
    background-color: rgb(113, 221, 113);
}

.average{
    background-color: rgb(207, 207, 58);
}

.rating{
    padding: 0.3rem 1.5rem;
    color: black;
    border-radius: 100rem;
}